/* import google font "open sans " */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* Navbar styles  */
.navbar-brand h4 {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

section {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}
